<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ArtistTrend{% endblock %}</title>

    {% load static %}
    <!-- Global styles  -->
    <link rel="stylesheet" href="{% static 'dashboard/base.css' %}">

    <!-- Page-specific styles -->
    {% block extra_css %}{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="site-header">
        <div class="logo">
            <span class="logo-main">ArtistTrend</span>
            <span class="logo-sub">Artist Popularity Trends Dashboard</span>
        </div>
        <nav class="nav-links">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'compare_artists' %}">Compare</a>
            <a href="{% url 'about' %}">About</a>   
        </nav>

    </header>

    <main class="page-content">
        {% block content %}{% endblock %}
    </main>

    <footer class="site-footer">
        &copy; 2025 ArtistTrend by Samuel Asuoha
    </footer>
</body>
</html>
